dist: trusty
sudo: false
language: cpp

notifications:
  email:
    recipients:
      - 0f9234u9f0jw3@gmx.de
    on_success: always
    on_failure: always

addons:
  apt:
    sources: &apt_sources
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty
      - llvm-toolchain-trusty-3.9
      - llvm-toolchain-trusty-4.0
      - llvm-toolchain-trusty-5.0
      - llvm-toolchain-trusty-6.0
      
compiler: clang
os: linux

matrix:
  include:
    # GCC 5
    - env: COMPILER=g++-5
      compiler: gcc
      addons: &gcc5
        apt:
          packages: ["g++-5",     "g++-5-multilib",   "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386"]
          sources: *apt_sources

    # GCC 6
    - env: COMPILER=g++-6
      compiler: gcc
      addons: &gcc6
        apt:
          packages: ["g++-6",     "g++-6-multilib",   "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386"]
          sources: *apt_sources

    # GCC 7
    - env: COMPILER=g++-7
      compiler: gcc
      addons: &gcc7
        apt:
          packages: ["g++-7",     "g++-7-multilib",   "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386"]
          sources: *apt_sources
          
    # GCC 8
    - env: COMPILER=g++-8
      compiler: gcc
      addons: &gcc8
      apt:
        packages: ["g++-8",     "g++-8-multilib",   "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386"]
          
    # Clang 3.8
    - env: COMPILER=clang++-3.8
      addons: &clang38
        apt:
          packages: ["clang-3.8", "g++-6-multilib", "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386", "g++-6"]
          sources: *apt_sources

    # Clang 3.9
    - env: COMPILER=clang++-3.9
      addons: &clang39
        apt:
          packages: ["clang-3.9", "g++-6-multilib", "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386", "g++-6"]
          sources: *apt_sources

    # Clang 4.0
    - env: COMPILER=clang++-4.0
      addons: &clang40
        apt:
          packages: ["clang-4.0", "g++-6-multilib", "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386", "g++-6"]
          sources: *apt_sources

    # Clang 5.0
    - env: COMPILER=clang++-5.0
      addons: &clang50
        apt:
          packages: ["clang-5.0", "g++-6-multilib", "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386", "g++-6"]
          sources: *apt_sources
    
    # Clang 6.0
    - env: COMPILER=clang++6.0
      addons: &clang60
        apt:
          packages: ["clang-6.0", "g++-6-multilib", "libc6-dbg", "libc6-dbg:i386", "linux-libc-dev", "linux-libc-dev:i386", "g++-6"]
            
script:
  - /usr/bin/$(printenv COMPILER) --version
  # debug x64
  - echo "DEBUG x64"
  - CXX=/usr/bin/$(printenv COMPILER) ./build_tests.sh Debug x64
  - cd ./Debug_x64
  - ctest --verbose .
  - cd ..
  - echo "******************************************"
  # release x64
  - echo "RELEASE x64"
  - CXX=/usr/bin/$(printenv COMPILER) ./build_tests.sh Release x64
  - cd ./Release_x64
  - ctest --verbose .
  - cd ..
  - echo "******************************************"
  # debug x86
  - echo "DEBUG x86"
  - CXX=/usr/bin/$(printenv COMPILER) ./build_tests.sh Debug x86
  - cd ./Debug_x86
  - ctest --verbose .
  - cd ..
  - echo "******************************************"
  # release x86
  - echo "RELEASE x86"
  - CXX=/usr/bin/$(printenv COMPILER) ./build_tests.sh Release x86
  - cd ./Release_x86
  - ctest --verbose .
  - cd ..
  - echo "******************************************"

