matrix:
  fast_finish: false
  
environment:
  matrix:
    - gen: "Visual Studio 14 2015"
    - gen: "Visual Studio 15 2017"
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

build_script:
  # x64 Debug
  - build.bat "%gen% Win64" Debug x64
  - cd Debug_x64
  - ctest --verbose .
  - cd ..
  # x64 Release
  - build.bat "%gen% Win64" Release x64
  - cd Release_x64
  - ctest --verbose .
  - cd ..
  # x86 Debug
  - build.bat "%gen%" Debug x86
  - cd Debug_x86
  - ctest --verbose .
  - cd ..
  # x86 Release
  - build.bat "%gen%" Release x86
  - cd Release_x86
  - ctest --verbose .
  - cd ..

